# Welcome to Day 1! 

## Introduction to strings, Biopython, and Biopython sequences

### Section 1: String manipulation in Python


### Section 2: Installing and importing Biopython 


### Section 3: Working with sequences using Biopython 

----
## Session summary

Our first session will have a slow pace to make sure everyone's jupyter notebook is working correctly and that everyone has a basic understanding of strings in Python, which is important for understanding Biopython. Afterwards, we will load up Biopython and get to work modifying sequences!

----

# Section 1: String manipulation in Python

A string in Python is any set of characters between a single quotes or double quotes.

In [1]:
# this is a string
'this is a string'

'this is a string'

In [2]:
# this is also a string
"this is also a string"

'this is also a string'

Strings can be manipulated using basic Python syntax.

One way is to use brackets with a colon `[ : ]` to indicate the range of characters in a string that you wish to keep. `[start:stop]`

In [3]:
# [start:stop]
# remove the first four characters of the string
'this is a string'[4:]

' is a string'

In [4]:
# keep the first 12 characters 
'this is a string'[:12]

'this is a st'

In [5]:
# remove the last four characters
'this is a string'[:-4]

'this is a st'

In [6]:
# keep the middle 5-10 characters
'this is a string'[4:10]

' is a '

---

### Exercise 1

Complete the code to show only characters `'string'`. 

**Hint: replace the ___ with the correct character position.**

In [11]:
'this is a string'[10:]

'string'

---

Rather than typing out the string each time, we can save it to a variable.

In [10]:
 string_var = 'this is a string'

 string_var

'this is a string'

We can still manipulate the string variable using brackets as before

In [12]:
# [start:stop]
# remove the first four characters of the string
string_var[4:]

' is a string'

In [13]:
# keep the first 12 characters 
string_var[:12]

'this is a st'

In [14]:
# remove the last four characters
string_var[:-4]

'this is a st'

In [15]:
# keep the middle 5-10 characters
string_var[4:10]

' is a '

However, the string_var itself is not affected. It still `returns` 'this is a string'

In [16]:
string_var

'this is a string'

We can change the string within string_var with a modified string easily

In [17]:
string_var = string_var[4:]
string_var

' is a string'

Difference between `return` and `print()`

So far we have been using `return`. When you assign a variable some value and then type it out, the value of the most recent variable is returned:

In [19]:
variable1 = 'hello'
variable2 = 'hi'

variable1
variable2

'hi'

Only the value of variable 2 is present. If we use `print()`, things work a little differently

In [20]:
variable1 = 'hello'
variable2 = 'hi'

print(variable1)
print(variable2)

hello
hi

Now the value of both variables is visible to us. 

As we go forward, there will be times where it is simpler to `return` a value and other times when we need multiple values to be displayed to us, in which case we will use `print()`

---
### Exercise 2a
Assign a string, `'my new string'` to `string_var_2`. Next, `print()` `string_var_2`

In [21]:
string_var_2 = 'my new string'
print(string_var_2)

my new string

### Exercise 2b
Make a new variable called `string_var_3` that contrains only the 4th-6th characters of `string_var_2`. `Print()` `string_var_3`

In [22]:
string_var_3 = string_var_2[3:6]
print(string_var_3)

new

---
There are additional Python functions that can modify sequences. One group are the `upper()`, `lower()` functions.

In [23]:
string_var_4 = 'I_Am_A_beAuTifUl_sTrIng'
# make all characters upper case
print(string_var_4.upper())
# make all lower case
print(string_var_4.lower())

I_AM_A_BEAUTIFUL_STRING
i_am_a_beautiful_string

The replace() function is also very useful. It will replace all characters with another character or string of interst, or even an empty space `''`

In [24]:
# replace beAuTifUl with and empty string (effectively deleting it)
string_var_4.replace('beAuTifUl','')

'I_Am_A__sTrIng'

In [25]:
# replace beAuTifUl with a new string
string_var_4.replace('beAuTifUl','GREAT')

'I_Am_A_GREAT_sTrIng'

In [26]:
# replace all underscores with a space
string_var_4.replace('_',' ')

'I Am A beAuTifUl sTrIng'

You can also add a string to another string using the + operator. You can create new variables from this too.

In [27]:
# add exclamation marks
string_var_4+'!!!!!'

'I_Am_A_beAuTifUl_sTrIng!!!!!'

In [28]:
# add question marks and save to new variable 
string_var_4_modified = string_var_4+'???'
string_var_4_modified

'I_Am_A_beAuTifUl_sTrIng???'

---
### Exercise 3a

Assign `string_var_4` to a new variable called `string_var_5`. `print()` `string_var_5`

In [30]:
string_var_5 = string_var_4
print(string_var_5)

I_Am_A_beAuTifUl_sTrIng

### Exercise 3b
Add the string `'i think'` to `string_var_5`. Then `replace()` all underscores with hyphens (-). Finally, `print()` `string_var_5`!

In [34]:
string_var_5 = string_var_5+' i think'

string_var_5 = string_var_5.replace('_', '-')

print(string_var_5)

I Am A beAuTifUl sTrIngi think i think

Now that we have covered strings, it is time to move on to Biopython

# Section 2: Installing and importing Biopython

Installing the Biopython package is simple:

In [35]:
pip install Biopython

Collecting Biopython
  Downloading biopython-1.79-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (2.3 MB)
     |████████████████████████████████| 2.3 MB 7.7 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from Biopython) (1.19.5)
Installing collected packages: Biopython
Successfully installed Biopython-1.79

If you have Biopython already installed, we need to makes sure that it is version 1.78 or greater.

In [ ]:
pip install Biopython --upgrade

`import` the Biopython package to make sure that it downloaded succesfully. Note that the package's name is `Bio`

In [36]:
# When you run this cell, there should be no errors
import Bio

Check the version of Biopython. It should be `1.79`

In [37]:
Bio.__version__

'1.79'

That's it for installing Bioython!

# Section 3: Working with sequences using Biopython

Now that we have reviewed the basics of strings in Python we are ready to adapt them to biological sequences and learn how to work with them using Biopython.

Let's make a short DNA sequence and check what class of data Python sees it as

In [38]:
# make string
short_dna = 'atgtacgacaacgccagcaccaggatcaacggc'
short_dna

'atgtacgacaacgccagcaccaggatcaacggc'

In [39]:
# check what class of variable
type(short_dna)

str


We will start by importing Biopython's **Seq** module (Seq is shorthand for Sequence) and comparing it to a basic Python string.

Biopython's Seq module is designed to work with sequences. We will convert short_dna to a Seq **object**

In [40]:
# import the Seq module
from Bio.Seq import Seq

In [41]:
# convert short_dna to a Seq object
short_dna = Seq(short_dna)
short_dna

Seq('atgtacgacaacgccagcaccaggatcaacggc')

In [42]:
#The Biopython Seq class
type(short_dna)

Bio.Seq.Seq

### What does it mean for short_dna to be a Seq object? 

When a variable like short_dna is converted to a Seq object, it tells Biopython that short_dna has certain properties, like whether it is a DNA, RNA, or a protein sequence. It also tells Biopython that certain functions that can be performed on sequences, like `translate()` or calculating its `reverse_complement()`, can be performed on it.

Here are some useful functions that can be applied to DNA seq object

In [43]:
# make a Seq object from a string of DNA characters
seq_object_dna = Seq('atgtacgacaacgccagcaccaggatcaacggc')

In [44]:
seq_object_dna

Seq('atgtacgacaacgccagcaccaggatcaacggc')

In [45]:
# translate
seq_object_dna.translate()

Seq('MYDNASTRING')

In [46]:
# transcribe
seq_object_dna.transcribe()

Seq('auguacgacaacgccagcaccaggaucaacggc')

In [47]:
# reverse complement
seq_object_dna.reverse_complement()

Seq('gccgttgatcctggtgctggcgttgtcgtacat')

In [48]:
# complement
seq_object_dna.complement()

Seq('tacatgctgttgcggtcgtggtcctagttgccg')

In [49]:
# convert sequence to upper case
seq_object_dna.upper()

Seq('ATGTACGACAACGCCAGCACCAGGATCAACGGC')

In [50]:
# convert sequence to lower case
seq_object_dna.lower()

Seq('atgtacgacaacgccagcaccaggatcaacggc')

We can check that seq_object_dna is a Biopython Seq object by entering the value and **returning** the code. A Seq object will have `Seq()` returned as part of the value.

In [51]:
seq_object_dna

Seq('atgtacgacaacgccagcaccaggatcaacggc')

What if our sequence was not a Seq object, but instead a normal Python string? For example if we try to translate a string, we will get an error. This is because string_dna does not have any information about what can and can't be done to it with Biopython functions.

In [52]:
# same dna as above but not a seq object
string_dna = 'atgtacgacaacgccagcaccaggatcaacggc'
# trying to use translate
string_dna.translate()

TypeError: ignored

---
### Exercise 4a
Assign the string `'aacgagtggagcgagcaggagaactgcgag'` to a new variable called `dna_seq` and `print()` `dna_seq`. 

Afterwards, convert `dna_seq` to a Seq object using `Seq()` and `print `dna_seq`. 

Are the classes different?

In [55]:
# assign the string 'aacgagtggagcgagcaggagaactgcgag' to dna_seq
dna_seq = 'aacgagtggagcgagcaggagaactgcgag'
print(type(dna_seq)) 

# convert the string 'aacgagtggagcgagcaggagaactgcgag' to a Seq object and assign to dna_seq
dna_seq = Seq('aacgagtggagcgagcaggagaactgcgag')
print(type(dna_seq))

<class 'str'>
<class 'Bio.Seq.Seq'>
aacgagtggagcgagcaggagaactgcgag

### Exercise 4b
`translate()` the Seq object `dna_seq` and store the result in a variable called `translated_seq`. Then `print()` it.

In [56]:
translated_seq = dna_seq.translate()
print(translated_seq)

NEWSEQENCE

### Exercise 4c
Take the `reverse_complement()` of `dna_seq` and store it in `dna_seq_rc`. `print()` `dna_seq_rc`

In [57]:
dna_seq_rc = dna_seq.reverse_complement()
print(dna_seq_rc)

ctcgcagttctcctgctcgctccactcgtt

---
We can add and remove sequences that belong to an existing sequence.

In [58]:
short_seq = Seq('agccacaggaccagcgagcag')

In [59]:
longer_seq = short_seq + Seq('aacgagtgggacaacgcc')

In [60]:
longer_seq

Seq('agccacaggaccagcgagcagaacgagtgggacaacgcc')

What if we want to select only some parts of the sequence?

We can work the `Seq` object as if though it were a string.

In [61]:
# select first 10 characters in longer_seq
longer_seq[:10]

Seq('agccacagga')

In [62]:
# select 6th-10th characters in longer_seq
longer_seq[5:10]

Seq('cagga')

In [63]:
# store the selected results in a variable called subset_seq
subset_seq = longer_seq[5:10]
subset_seq

Seq('cagga')

---
### Exercise 5a

Make a `Seq()` object with the sequence `'PRTIENSEQ'` and assign it to the variable `my_prtn_seq1`

In [64]:
my_prtn_seq1 = Seq('PRTIENSEQ')

my_prtn_seq1

Seq('PRTIENSEQ')

### Exercise 5b
Create a new protein `Seq()` object, `my_prtn_seq2` with the sequence `'HISTAG'`.

Afterwards, add (`+`) the sequence from `my_prtn_seq2` to `my_prtn_seq1`

In [66]:
my_prtn_seq2 = Seq('HISTAG')
my_prtn_seq2 + my_prtn_seq1

Seq('HISTAGPRTIENSEQ')

### Exercise 5c

Make a new variable called `my_prtn_seq3` that contains only the second-fifth amino acids `from my_prtn_seq1`

In [67]:
my_prtn_seq3 = my_prtn_seq1[1:5]
my_prtn_seq3

Seq('RTIE')

### Exercise 5d

Add (`+`) `my_prtn_seq2` to `my_prtn_seq3` and store the result in `my_prtn_seq4`

In [68]:
my_prtn_seq4 = my_prtn_seq2 + my_prtn_seq3

my_prtn_seq4

Seq('HISTAGRTIE')

---

That's it for Day 1!